In [1]:
# yelp scraping project
import requests
import json
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import re

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 2500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [3]:
# hard code this section to scrape multiple pages for reviews
main = 'https://www.yelp.com/biz/sand-canyon-barber-irvine'
url = [main,
       main + '?start=20',
       main + '?start=40',
       main + '?start=60',
       main + '?start=80',]
#        main + '?start=100',
#        main + '?start=120',
#        main + '?start=140',
#        main + '?start=160',
#        main + '?start=180',
#        main + '?start=200',
#        main + '?start=220',
#        main + '?start=240',
#        main + '?start=260',
#        main + '?start=280',
#        main + '?start=300',
#        main + '?start=320',]
#        main + '?start=340',
#        main + '?start=360',
#        main + '?start=380',]

In [4]:
for i in url:
    print (i)

https://www.yelp.com/biz/sand-canyon-barber-irvine
https://www.yelp.com/biz/sand-canyon-barber-irvine?start=20
https://www.yelp.com/biz/sand-canyon-barber-irvine?start=40
https://www.yelp.com/biz/sand-canyon-barber-irvine?start=60
https://www.yelp.com/biz/sand-canyon-barber-irvine?start=80

# Start Review Section

In [5]:
reviews = []
star_rating = []

In [6]:
def get_review_content(url):
    for i in url:
        response = requests.get(i)
        soup = BeautifulSoup(response.text, 'html.parser')
        
        rc_unstripped = soup.find_all(attrs={'class': 'review-content'})
        rc_length = (len(rc_unstripped))
        
        for i in range (0, rc_length):
            reviews.append(rc_unstripped[i].text.strip()) 
        
        for rating in soup.select(".rating-large"):
            star_rating.append(rating.get("title"))

In [7]:
# Run the function
get_review_content(url)

In [8]:
print(len(reviews))
print(len(star_rating))

91
103

In [9]:
print(reviews[0])
print(star_rating[0])

10/1/2017









5 check-ins



If you go, ask for Tiffany...she is the owner and works the chair on the right as you enter.I've been a flat top guy forever and had a hard time finding anyone in the area.Tried about six different places with no luck. The last guy messed my hair up so bad I had to try and get it evened out.Stopped in here and Tiffany fixed it up in like five minutes FOR FREE. Who does that nowadays? She just said to come back when I needed another cut.I've been going here for a year or so now. They have about four or five other barbers that do regular cuts.Great barber shop!
5.0 star rating

In [10]:
# convert reviews to pd series
reviews_s = pd.Series(reviews)
reviews_s.tail()

86    7/20/2011\n    \n\nLove going to the Sand Cany...
87    8/18/2008\n    \n\n\n\n\n\n\n\n\n2 check-ins\n...
88    9/26/2011\n    \n\nThey have lots of staff, wh...
89    8/15/2009\n    \n\nJeff L who wrote a review b...
90    7/2/2009\n    \n\nJust OK. Not a typical barbe...
dtype: object

In [11]:
# convert ratings to pd series
ratings_s = pd.Series(star_rating)
ratings_s.tail()

98     3.0 star rating
99     4.0 star rating
100    4.0 star rating
101    3.0 star rating
102    3.5 star rating
dtype: object

In [12]:
# create a pandas df from reviews
data = {'Reviews' : reviews_s,
       'StarRating': ratings_s}

df = pd.DataFrame.from_dict(data)
df = df[['Reviews', 'StarRating']]

In [13]:
df.head()
df.tail()
df.shape

                                             Reviews       StarRating
0  10/1/2017\n    \n\n\n\n\n\n\n\n\n5 check-ins\n...  5.0 star rating
1  6/19/2017\n    \n\nI went to Sand Canyon Barbe...  5.0 star rating
2  8/24/2017\n    \n\nIf there was a Zero rating,...  1.0 star rating
3  6/23/2017\n    \n\nI got Chi Tiffany as my bar...  5.0 star rating
4  6/9/2017\n    \n\nBEST HAIRDRESSER!!!  So glad...  5.0 star rating

    Reviews       StarRating
98      NaN  3.0 star rating
99      NaN  4.0 star rating
100     NaN  4.0 star rating
101     NaN  3.0 star rating
102     NaN  3.5 star rating

(103, 2)

In [14]:
# split date and reviews
df['Date'] = df.Reviews.str.split('\n').str.get(0)
df['Review'] = df.Reviews.str.split('\n\n').str.get(1)

In [15]:
# drop Reviews column
df.drop('Reviews', axis=1, inplace=True)

In [16]:
df.head()

        StarRating       Date                                             Review
0  5.0 star rating  10/1/2017
1  5.0 star rating  6/19/2017  I went to Sand Canyon Barber on 6/18 and was h...
2  1.0 star rating  8/24/2017  If there was a Zero rating, I would've given t...
3  5.0 star rating  6/23/2017  I got Chi Tiffany as my barber today. She was ...
4  5.0 star rating   6/9/2017  BEST HAIRDRESSER!!!  So glad Xuan is back in a...

In [17]:
# delete NaN rows
df2 = df.replace(r"", np.nan)
df2.tail()

          StarRating Date Review
98   3.0 star rating  NaN    NaN
99   4.0 star rating  NaN    NaN
100  4.0 star rating  NaN    NaN
101  3.0 star rating  NaN    NaN
102  3.5 star rating  NaN    NaN

In [18]:
# drop NaN rows
df3 = df2.dropna()

# reset index
df3.reset_index(drop=True, inplace=True)

df3.head()
df3.shape

        StarRating       Date                                             Review
0  5.0 star rating  6/19/2017  I went to Sand Canyon Barber on 6/18 and was h...
1  1.0 star rating  8/24/2017  If there was a Zero rating, I would've given t...
2  5.0 star rating  6/23/2017  I got Chi Tiffany as my barber today. She was ...
3  5.0 star rating   6/9/2017  BEST HAIRDRESSER!!!  So glad Xuan is back in a...
4  5.0 star rating  6/11/2017  I used to go to SportClips in Woodbury but hav...

(73, 3)

In [19]:
# checks to see if there are any null values
df3.isnull().sum()

StarRating    0
Date          0
Review        0
dtype: int64

# Pandas DF and Sentiment Section

In [20]:
from textblob import TextBlob

In [21]:
# convert Review column in df3 to list
review_list = df3['Review'].tolist()
review_list[0]

'I went to Sand Canyon Barber on 6/18 and was helped by \xa0a nice lady named Xuan. She asked me how I liked my haircut and if I wanted a shampoo after. It was a great experience, I knew instantly that Xuan was an experienced barber, she even cleaned up my beard and shaved the back of my neck line with a special trimmer. I came out refreshed and looking clean! 5 Stars! Will be back!!'

In [22]:
len(review_list)

73

In [23]:
sentiment_score = []
# iterate through review list
for r in review_list:
    sentiment = TextBlob(r)
    sentiment_score.append(sentiment.sentiment.polarity)

In [24]:
# convert to series
sentiment_score_convert = pd.Series(sentiment_score)

In [25]:
# add sentiment score to sentiment_df
df3.insert(loc=1, column='SentimentScore', value=sentiment_score_convert)

In [26]:
df3.head()

        StarRating  SentimentScore       Date                                             Review
0  5.0 star rating        0.414451  6/19/2017  I went to Sand Canyon Barber on 6/18 and was h...
1  1.0 star rating        0.140833  8/24/2017  If there was a Zero rating, I would've given t...
2  5.0 star rating        0.015952  6/23/2017  I got Chi Tiffany as my barber today. She was ...
3  5.0 star rating        0.267262   6/9/2017  BEST HAIRDRESSER!!!  So glad Xuan is back in a...
4  5.0 star rating        0.450000  6/11/2017  I used to go to SportClips in Woodbury but hav...

In [27]:
sentiment = []
# iterate through sentiment_score to assign a pos or neg val
for s in sentiment_score:
    if s > 0:
        sentiment.append('Positive')
    else:
        sentiment.append('Negative')

In [28]:
print(len(sentiment_score))
print(len(sentiment))

73
73

In [29]:
# check for null values
df3.isnull().sum()

StarRating        0
SentimentScore    0
Date              0
Review            0
dtype: int64

In [30]:
# convert sentiment to a pandas series
sentiment_2 = pd.Series(sentiment)

In [31]:
# add sentiment score to sentiment_df
df3.insert(loc=2, column='Sentiment', value=sentiment_2)

In [32]:
df3.head()

        StarRating  SentimentScore Sentiment       Date                                             Review
0  5.0 star rating        0.414451  Positive  6/19/2017  I went to Sand Canyon Barber on 6/18 and was h...
1  1.0 star rating        0.140833  Positive  8/24/2017  If there was a Zero rating, I would've given t...
2  5.0 star rating        0.015952  Positive  6/23/2017  I got Chi Tiffany as my barber today. She was ...
3  5.0 star rating        0.267262  Positive   6/9/2017  BEST HAIRDRESSER!!!  So glad Xuan is back in a...
4  5.0 star rating        0.450000  Positive  6/11/2017  I used to go to SportClips in Woodbury but hav...

In [33]:
# check value counts for Positive and Negative
df3.Sentiment.value_counts()

Positive    56
Negative    17
Name: Sentiment, dtype: int64

In [34]:
# convert Sentiment label to a numerical value
df3['SentimentNum'] = df3.Sentiment.map({'Positive': 0,
                                                 'Negative': 1})

In [35]:
df3.head()
df3.tail()
df3.shape

        StarRating  SentimentScore Sentiment       Date                                             Review  SentimentNum
0  5.0 star rating        0.414451  Positive  6/19/2017  I went to Sand Canyon Barber on 6/18 and was h...             0
1  1.0 star rating        0.140833  Positive  8/24/2017  If there was a Zero rating, I would've given t...             0
2  5.0 star rating        0.015952  Positive  6/23/2017  I got Chi Tiffany as my barber today. She was ...             0
3  5.0 star rating        0.267262  Positive   6/9/2017  BEST HAIRDRESSER!!!  So glad Xuan is back in a...             0
4  5.0 star rating        0.450000  Positive  6/11/2017  I used to go to SportClips in Woodbury but hav...             0

         StarRating  SentimentScore Sentiment        Date                                             Review  SentimentNum
68  5.0 star rating        0.312500  Positive  12/19/2011  We really enjoyed this place, me and my 2 year...             0
69  4.0 star rating        0.406250  Positive   7/20/2011  Love going to the Sand Canyon Barber shop! Tif...             0
70  4.0 star rating        0.850000  Positive   9/26/2011  They have lots of staff, which means no wait. ...             0
71  3.5 star rating        0.278571  Positive   8/15/2009  Jeff L who wrote a review below is absolutely ...             0
72  5.0 star rating        0.275159  Positive    7/2/2009  Just OK. Not a typical barbershop - this place...             0

(73, 6)

In [36]:
df3.SentimentNum.value_counts()

0    56
1    17
Name: SentimentNum, dtype: int64

In [37]:
# extract business name from "main" url
bizname_split = main.split('https://www.yelp.com/biz/')
bizname = bizname_split[1]
bizname

'sand-canyon-barber-irvine'

In [38]:
# reorder columns
df3 = df3[['Date', 'SentimentScore', 'Sentiment', 'SentimentNum', 'StarRating', 'Review']]
df3.head()

        Date  SentimentScore Sentiment  SentimentNum       StarRating                                             Review
0  6/19/2017        0.414451  Positive             0  5.0 star rating  I went to Sand Canyon Barber on 6/18 and was h...
1  8/24/2017        0.140833  Positive             0  1.0 star rating  If there was a Zero rating, I would've given t...
2  6/23/2017        0.015952  Positive             0  5.0 star rating  I got Chi Tiffany as my barber today. She was ...
3   6/9/2017        0.267262  Positive             0  5.0 star rating  BEST HAIRDRESSER!!!  So glad Xuan is back in a...
4  6/11/2017        0.450000  Positive             0  5.0 star rating  I used to go to SportClips in Woodbury but hav...

In [39]:
# save csv to reviews folder to use for NLP
df3.to_csv(f'reviews/{bizname}.csv', index=False)

# Section for NLTK

### Import saved csvs from reviews directory

In [ ]:
# Define X and y for use with COUNTVECTORIZE
X = df3.Review
y = df3.SentimentNum
print(X.shape)
print(y.shape)